// @import "~hc-html-wrapper/dist/static/css/app.css";

#WasThisPageHelpful {

  padding: 3rem 0;

  .container {
    background: #fff;
  }

  .btn-outline-primary {
    color: #ff6f5b !important;
    background-color: transparent;
    background-image: none;
    border-color: #ff6f5b;
  }

  .form-check-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0;
    }
  }

  .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
  }

  #text-feedback {
    margin-bottom: 1rem;
  }

}
